{% extends "layout.twig" %}
{% block content %}

<div class="default-page">


    <!-- Header
    {% include "includes/header.twig" %}-->


    <!-- Main Content -->
    <div role="main">

        {{widget('pagetitle', 'title', {})|raw}}


        <!-- Main Zone -->
        {{zone('main')|raw}}

    </div>


    <!-- Footer
    {% include "includes/footer.twig" %}-->


</div>

{% endblock %}


{% block scripts %}
{% endblock %}
