
<!-- Company Name / Logo and Navigation -->
<footer class="template-footer">


    <!-- Copyright -->
    {{widget('content', 'footer-content', {
        content: '<p>Copyright 2016</p>'
    })|raw}}


</footer>

